# Oscillator
set_io              clk         21

# LEDs
# set_io              led[0]      99
# set_io              led[1]      98
# set_io              led[2]      97
# set_io              led[3]      96
set_io                  out     88
set_io                  stream_reset 90
set_io                  strobe  91

# PMOD I/O
set_io  -pullup yes    rst      78
set_io  -pullup yes    sig      79
